<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgvWbZ-qM6CWFVM_VtHoYlKLzJ4YOGzYI</string>
	<key>GCM_SENDER_ID</key>
	<string>965228296312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helloo.IncuLink</string>
	<key>PROJECT_ID</key>
	<string>inculink-c8c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>inculink-c8c2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965228296312:ios:928bc241d9e45c5e45d58d</string>
</dict>
</plist>